<!-- src/app/app.component.html -->
<div class="container">
    <div class="left-panel">
      <div class="left-content">
        <h1>Sprint Planning Tool</h1>
        <div class="form-container-row">
            <mat-form-field>
                <mat-label>Plan Start Date</mat-label>
                <input id="startDate" name="startDate" matInput [matDatepicker]="picker3" [value]="startDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>

            <mat-form-field floatLabel="always">
                <mat-label>Sprint Duration (Days)</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="10"  [(ngModel)]="sprintDuration" />
                <span matTextPrefix>#&nbsp;</span>
              </mat-form-field>

            <mat-form-field floatLabel="always">
                <mat-label>Number of Developers</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="3"   [(ngModel)]="num_of_devs" />
                <span matTextPrefix>#&nbsp;</span>
              </mat-form-field>

            <mat-form-field floatLabel="always">
                <mat-label>Developer Names (comma separated)</mat-label>
                <input matInput type="textarea" id="developerNames" class="example-right-align" name="developerNames"   [(ngModel)]="developerNames" />
              </mat-form-field>
        </div>

        <div *ngIf="result && result.length">
            <p>You can finish in: {{result.length}} sprints</p>
            <p>DeliveryDate: {{getDeliveryDate()}}</p>
            <p>Required Resources: {{getUniqueDevelopersCount()}} <span *ngIf="getUniqueDevelopersCount() <= 1">Developer</span> <span *ngIf="getUniqueDevelopersCount() > 1">Developers</span></p>
        </div>

    </div>
    </div>
    <div class="right-panel">
        <div class="form-container-row">
            <form [formGroup]="planForm" (ngSubmit)="onSubmit()" class="plan-form"> 
                <div class="form-group-row" style="display: none;"> 
                    <input id="sprint_duration" formControlName="sprint_duration" [(ngModel)]="sprintDuration" type="number" class="form-control">
                </div>
                <div class="form-group-row" style="display: none;"> 
                    <label for="num_developers">Number of Developers:</label> 
                    <input id="num_developers" formControlName="num_developers" [(ngModel)]="num_of_devs" type="number" class="form-control">
                </div>
                
                <button type="button" (click)="addTicket()" class="add-button">+&nbsp;Add Ticket</button> 

                <h2>Backlog</h2>
                <div formArrayName="tickets"> 
                    <div *ngFor="let ticket of tickets.controls; let i = index"> 
                        <div [formGroupName]="i" class="ticket-group"> 
                            <mat-form-field appearance="outline" class="ticket-id">
                                <mat-label>Ticket ID</mat-label>
                                <input matInput formControlName="id" type="text" placeholder="Ticket ID">
                              </mat-form-field>

                            <mat-form-field appearance="outline" class="ticket-num">
                                <mat-label>Days</mat-label>
                                <input matInput type="number" formControlName="days"  placeholder="2">
                              </mat-form-field>

                            <mat-form-field appearance="outline" class="ticket-num">
                                <mat-label>Priority</mat-label>
                                <input matInput type="number"  formControlName="priority" placeholder="1">
                              </mat-form-field>
                            
                            <button mat-raised-button (click)="removeTicket(i)" class="remove-button" color="warn">
                                <mat-icon>delete</mat-icon>
                                Remove Ticket
                              </button>

                         </div> 
                        </div> 
                    </div>
                     <button type="submit" class="submit-button">Submit</button> 
            </form>
        </div>
        
        
        <div *ngIf="result && result.length" class="result-container"> 
                    <div *ngFor="let sprint of result; let sprintIndex = index">
                        <h2>Sprint {{sprintIndex + 1 }}</h2>
                        <table class="result-table"> 
                            <thead> 
                              <tr> 
                                <th>Developer</th> 
                                <th>Ticket ID</th> 
                                <th>Start Day</th> 
                                <th>End Day</th> 
                              </tr> </thead> 
                              <tbody> 
                                <tr *ngFor="let item of sprint.tasks"> 
                                  <td>{{ getDeveloperLabel(item.developer) }}</td> 
                                  <td>{{ item.ticket }}</td> 
                                  <td>{{ getDateInSprint(item.start_day + 1, sprintIndex + 1 ) }}</td> 
                                  <td>{{ getDateInSprint(item.end_day + 1, sprintIndex + 1) }}</td> 
                                </tr> 
                              </tbody> 
                        </table> 
                        <div class="timeline-container"> 
                            <h2>Sprint {{sprintIndex + 1 }} Timeline</h2>
                            <div class="timeline"> 
                                <div class="timeline-header"> 
                                    <div class="day-label" *ngFor="let day of days">{{ day }}</div> 
                                </div> 
                                
                                <div class="timeline-body"> 
                                    <div *ngFor="let dev of getDevelopers(sprint.tasks)" class="timeline-row"> 
                                        <div class="timeline-row-label">{{ getDeveloperLabel(dev) }}</div> 
                                            <div class="timeline-item-container"> 
                                                <div *ngFor="let item of getDeveloperTasks(sprint.tasks,dev)" class="timeline-item" 
                                                [ngStyle]="{'left': getLeftTimeline(item), 'width': getWidthTimeline(item)}">
                                                    <div class="timeline-item-content"> Ticket {{ item.ticket }}</div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
        </div>
    </div>
  </div>






