<!-- src/app/app.component.html -->
<div class="container">
    <div class="left-panel">
      <div class="left-content">
        <h1>Sprint Planning Tool</h1>
        <div class="form-container-row">
            <div class="form-group-row">
                <label class="form-label" for="startDate">Plan Start Date:</label>
                <input id="startDate" [(ngModel)]="startDate" name="startDate" class="form-input" type="date" required>
            </div>
            <div class="form-group-row">
                <label class="form-label" for="sprintDuration_copy">Sprint Duration (Days):</label>
                <input type="number" id="sprintDuration_copy" [(ngModel)]="sprintDuration" class="form-input" name="developerNames">
            </div>
            <div class="form-group-row">
                <label class="form-label" for="num_developers_copy">Number of Developers:</label>
                <input type="number" id="num_developers_copy" [(ngModel)]="num_of_devs" class="form-input" name="developerNames">
            </div>
            <div class="form-group-row">
                <label class="form-label" for="developerNames">Developer Names (comma separated):</label>
                <input type="text" id="developerNames" [(ngModel)]="developerNames" class="form-input" name="developerNames">
            </div>
        </div>

        <div *ngIf="result && result.length">
            <p>You can finish in: {{result.length}} sprints</p>
            <p>DeliveryDate: {{getDeliveryDate()}}</p>
            <p>Required Resources: {{getUniqueDevelopersCount()}} <span *ngIf="getUniqueDevelopersCount() <= 1">Developer</span> <span *ngIf="getUniqueDevelopersCount() > 1">Developers</span></p>
        </div>

    </div>
    </div>
    <div class="right-panel">
        <div class="form-container-row">
            <form [formGroup]="planForm" (ngSubmit)="onSubmit()" class="plan-form"> 
                <div class="form-group-row" style="display: none;"> 
                    <input id="sprint_duration" formControlName="sprint_duration" [(ngModel)]="sprintDuration" type="number" class="form-control">
                </div>
                <div class="form-group-row" style="display: none;"> 
                    <label for="num_developers">Number of Developers:</label> 
                    <input id="num_developers" formControlName="num_developers" [(ngModel)]="num_of_devs" type="number" class="form-control">
                </div>
                <h2>Backlog</h2>
                <div formArrayName="tickets"> 
                    <div *ngFor="let ticket of tickets.controls; let i = index"> 
                        <div [formGroupName]="i" class="ticket-group"> 
                            <div class="form-group">
                                <label for="id-{{i}}">Ticket ID:</label> 
                                <input id="id-{{i}}" formControlName="id" type="text" class="form-control"> 
                            </div>
                            <div class="form-group">
                                <label for="days-{{i}}">Days:</label> 
                                <input id="days-{{i}}" formControlName="days" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="priority-{{i}}">Priority:</label> 
                                <input id="priority-{{i}}" formControlName="priority" type="number" class="form-control"> 
                            </div>
                            
                            <button type="button" (click)="removeTicket(i)" class="remove-button">Remove Ticket</button>
                         </div> 
                        </div> 
                    </div>
                     <button type="button" (click)="addTicket()" class="add-button">Add Ticket</button> 
                     <button type="submit" class="submit-button">Submit</button> 
            </form>
        </div>
        
        
        <div *ngIf="result && result.length" class="result-container"> 
                    <div *ngFor="let sprint of result; let sprintIndex = index">
                        <h2>Sprint {{sprintIndex + 1 }}</h2>
                        <table class="result-table"> 
                            <thead> 
                              <tr> 
                                <th>Developer</th> 
                                <th>Ticket ID</th> 
                                <th>Start Day</th> 
                                <th>End Day</th> 
                              </tr> </thead> 
                              <tbody> 
                                <tr *ngFor="let item of sprint.tasks"> 
                                  <td>{{ getDeveloperLabel(item.developer) }}</td> 
                                  <td>{{ item.ticket }}</td> 
                                  <td>{{ getDateInSprint(item.start_day + 1, sprintIndex + 1 ) }}</td> 
                                  <td>{{ getDateInSprint(item.end_day + 1, sprintIndex + 1) }}</td> 
                                </tr> 
                              </tbody> 
                        </table> 
                        <div class="timeline-container"> 
                            <h2>Sprint {{sprintIndex + 1 }} Timeline</h2>
                            <div class="timeline"> 
                                <div class="timeline-header"> 
                                    <div class="day-label" *ngFor="let day of days">{{ day }}</div> 
                                </div> 
                                
                                <div class="timeline-body"> 
                                    <div *ngFor="let dev of getDevelopers(sprint.tasks)" class="timeline-row"> 
                                        <div class="timeline-row-label">{{ getDeveloperLabel(dev) }}</div> 
                                            <div class="timeline-item-container"> 
                                                <div *ngFor="let item of getDeveloperTasks(sprint.tasks,dev)" class="timeline-item" 
                                                [ngStyle]="{'left': (item.start_day - 1) * sprintDuration + '%', 'width': (item.end_day - item.start_day + 1) * sprintDuration + '%'}">
                                                    <div class="timeline-item-content"> Ticket {{ item.ticket }}</div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
        </div>
    </div>
  </div>






